@media (min-width:320px) {
    #pokedex{
        background-color: cadetblue;
        width: 100%;
        ul{
            padding: 2%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            list-style: none;
        }
    }

}
@media (min-width:1025px) {
}
@media (min-width:1860px) { 
}